{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div id="content">
        <div id="input">
            <center class=" sub-heading ">Enter Email Details here</center>
            <form name="inputForm" id="inputForm" action="#"
                  style="min-height: 250px;border-bottom: 1px solid;padding: 22px; padding-left: 0px;" method="post">
                <center>
                    <input type="text" name="from" class="input-box" style="height: auto" value=""
                           placeholder="Enter the sender's Email address">
                    <input type="text" name="subject" class="input-box" style="height: auto" value=""
                           placeholder="Enter the subject here">
                    <textarea name="message" class="input-box" placeholder="Enter the Email message here"></textarea>
                    <button onclick="showAnswer()" id="submitButton1">Analyse Email</button>
                    <div id="answer"></div>
                </center>
            </form>


        </div>

        <div id="output">
            <center class=" sub-heading ">Email Analysis Result</center>
            <div id="debug"></div>
            <!--Div that will hold the pie chart-->
            <div id="chart_div"></div>
            <div id="equation">

            </div>

        </div>
    </div>


{% endblock %}
