<!DOCTYPE html>
<html>
<head>
    <title>Spam Test - Email spam score with Machine Learning</title>
    <link rel="stylesheet" type="text/css" href="../static/spamtest.css"/>
</head>
<body>
    <a class="ios-6-arrow left blue" style="float:left" href="http://shahrajat.com"
       data-title="Profile"></a>
    <h2 style="
        padding: 5px;
    color: #6d6d6d;
    font-family: 'Raleway',Helvetica,Arial;
       font-size: 47px;
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    display: block;
">Test Spam-ness of an E-mail</h2>

{% block content %}{% endblock %}

</body>
</html>
